
@model IEnumerable<OnlineShoppingStore.DAL.Order>

@{
    ViewBag.Title = "Orders";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Orders</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="../Admin/Dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Orders</li>
</ol>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderPlaced)
                    </th>
                   
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderPlaced)
                    </th>
                   
                    <th>Action</th>
                </tr>
            </tfoot>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderPlaced)
                    </td>
                    
                    <td>
                        @if (item.OrderComplete == false)
                        {
                            @Html.ActionLink("Completed", "OrdersComplete", new { orderId = item.OrderId }, new { @class = "btn btn-success" })
                            @*@Html.ActionLink("Cancel", "DeleteOrders", new { orderId = item.OrderId }, new { @class = "btn btn-danger" })*@

                        }
                        else
                        {
                            <b>Set as Completed:</b>
                            @item.OrderCompleteDate
                        }

                    </td>
                </tr>
            }

        </table>

    </div>
</div>
