@model List<OnlineShoppingStore.DAL.Artist>


@{
    ViewBag.Title = "Artist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Breadcrumbs-->

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Artist</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-guitar"></i>
        Artist Details
        <a href="../Admin/ArtistAdd" class="btn btn-info pull-right fa fa-plus"> Add New</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Artist</th>
                        <th>Country</th>                        
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Artist</th>                        
                        <th>Country</th>                        
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@(Model.IndexOf(item)+1)</td>
                            <td>@item.Name</td>                            
                            <td>@item.Country</td>
                            <td>
                                @Html.ActionLink("Edit", "ArtistEdit", new { ArtistId = item.ArtistId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "DeleteArtist", new { ArtistId = item.ArtistId }, new { @class = "btn btn-danger" })
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

   
