@using OnlineShoppingStore.Models.Home

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9e7375cf3d.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="myContainer">
        <div class="container">

                

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Back To Vinyl", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("Our collection", "Index", "PartialView")</li>

                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_CartSummary")
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>

            </div>
            
            @RenderBody()
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-12 copyright">

                        <div class="col-md-6 col-sm-6 copyright-left">
                            <p>&copy; @DateTime.Now.Year - Back to Vinyl. All right reserved.</p>
                        </div>

                        <div class="col-md-6 col-sm-6 copyright-right">

                            <ul class="list-unstyled list-social">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("JavaScript", required: false)
</body>
</html>