@model IEnumerable<OnlineShoppingStore.Models.Home.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using OnlineShoppingStore.DAL;
@using OnlineShoppingStore.Models.Home;
<h2>Ready to checkout!!</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    @if (Session["cart"] == null)
    {
        <div class="alert alert-danger">
            <strong>No product added to cart!</strong>
            <br />
            @Html.ActionLink("Start shopping", "Index", "Home")
        </div>
    }
    else
    {
        <h3>What we got here?</h3>

        <table id="cartProducts" cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th class="text-center">Remove</th>
                <th class="text-center">Category</th>
                <th class="text-center">Product Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Add/Sub</th>
                <th class="text-center">Sub Total</th>
            </tr>

            @foreach (Item item in (List<Item>)Session["cart"])
            {
                <tr>

                    <td><a class="btn btn-danger" href="@Url.Action("Remove", "ShoppingCartItem", new { id = item.Product.ProductId })"> x </a></td>
                    <td class="text-center">@item.Product.Category.CategoryName</td>


                    <td class="text-center"> @item.Product.Album.Artist.Name : @item.Product.Album.AlbumName</td>
                    <td class="text-center">@item.Product.Price €</td>
                    <td class="text-center">@item.Quantity</td>

                    <td>
                        <a class="fa fa-plus" href="@Url.Action("IncreaseQuantity", "ShoppingCartItem", new { id = item.Product.ProductId })">  /  </a>
                        <a class="fa fa-minus" href="@Url.Action("ReduceQuantity", "ShoppingCartItem", new { id = item.Product.ProductId })">  </a>
                    </td>

                    <td align="center">@(item.Product.Price * item.Quantity) €</td>
                </tr>

            }
            <tfoot>
                <tr>

                    <td align="right" colspan="6">Total Bill </td>

                    <td>
                        @{
                            List<Item> cart = (List<Item>)Session["cart"];
                            var total = cart.Sum(item => item.Product.Price * item.Quantity);
                        }

                        <p style="margin-top:10px" align="center"> @total €</p>

                    </td>
                </tr>
            </tfoot>
        </table>
        <br>
        <a class="btn btn-warning" href="@Url.Action("ClearCart", "ShoppingCartItem")">Clear Cart</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Shop some more?</a>
        <a class="btn btn-success" href="@Url.Action("Checkout", "Orders")">Checkout</a>

    }
</body>
</html>