@model IEnumerable<OnlineShoppingStore.Models.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "OurProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OurProducts</h2>

@*<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Genre</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Genre</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>

                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.CategoryName</td>
                                <td>@item.ArtistName</td>
                                <td>@item.AlbumName</td>
                                <td>
                                    <img class="img-responsive" title="Click to View Product detail"
                                         style="cursor:pointer; height:120px; "
                                         src="~/ProductImg/@item.ProductImage" />
                                </td>
                                <td>@item.ProductName</td>
                                <td>@item.Genre</td>
                                <td>@item.Description</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                            </tr>


                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>*@


@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-3 col-xs-6 tile" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:310px">
            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer; height:160px; width:100%"
                 src="~/ProductImg/@item.ProductImage" />

            <div class="caption">
                <h5>@item.ProductName</h5>
                <p>@item.Price €</p>
                <div>
                    @if (item.Quantity > 0)
                    {

                        using (Html.BeginForm("Buy", "ShoppingCartItem", new { id = item.ProductId }, FormMethod.Post))
                        {
                            <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>

                        }

                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                </div>
                <div class="product-item-badge">
                    @if (item.IsFeatured == true)
                    {
                        <p>New</p>
                    }
                    else
                    {
                        <p>Old</p>
                    }
                </div>
            </div>
        </div>
    </div>
}